<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feeder</title>
</head>
<body>
<h1>Welcome to the Cat Feeder Page!</h1>
<p>Turn on LED click <a href="/on">here!</a></p>
<p>Turn off LED click <a href="/off">here!</a></p>
<p>Blink LED click <a href="/blink">here!</a></p>
<p>Toggle LED click <a href="/toggle">here!</a></p>
<p>Turn Servo1 click <a href="/servo1">here!</a></p>
<p>Stop Servo1 click <a href="/stopservo/1">here!</a></p>
<p>Turn Servo2 click <a href="/servo2">here!</a></p>
<p>Turn Servo2 BACKWARDS click <a href="/servo2backwards">here!</a></p>
<p>Stop Servo2 click <a href="/stopservo/26">here!</a></p>

</body>
</html>